        <div class="ui inverted vertical footer segment" style = "bottom: 0; margin-top: 100px;">
            <div class="ui container">
                <p class = "text center">
                   © not sure if all rights reserved
                </p>  
            </div>
        </div>
    </body>
</html>