<%- include("partials/header") -%>


<div class = "ui main container"> 
    
    
    <div class = "ui main text container">
        <h1 class = "ui header">
        BLOG HEADER
        <div class = "sub header">
            2 days ago, by qalaiqalai
        </div>
    </h1>
        <div class = "ui image container">
            <img src = "https://im-media.voltron.voanews.com/Drupal/01live-166/styles/892x501/s3/2020-01/reuters_cdc_coronavirus_29Jan20.jpg?itok=A6lB_FX0" class = "">    
        </div>
        <p>
            Reports from Britain and South Africa of new coronavirus strains that seem to spread more easily are causing alarm, but virus experts say it's unclear if that's the case or whether they pose any concern for vaccines or cause more severe disease.
        </p>
        <p>Viruses naturally evolve as they move through the population, some more than others. It's one reason we need a fresh flu shot each year.Reports from Britain and South Africa of new coronavirus strains that seem to spread more easily are causing alarm, but virus experts say it's unclear if that's the case or whether they pose any concern for vaccines or cause more severe disease.Viruses naturally evolve as they move through the population, some more than others. It's one reason we need a fresh flu shot each year.
        </p>
        <p>
        Reports from Britain and South Africa of new coronavirus strains that seem to spread more easily are causing alarm, but virus experts say it's unclear if that's the case or whether they pose any concern for vaccines or cause more severe disease.Viruses naturally evolve as they move through the population, some more than others. It's one reason we need a fresh flu shot each year.
        </p>
    </div>
    
</div>


<%- include("partials/footer") -%>